In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pingouin import pairwise_ttests
from pingouin import anova
import pingouin as pg

In [3]:
data = pd.read_csv(r"C:\Users\DELL2025\Downloads\Compressed\Customer Satisfaction.csv")
data.head()

   Customer_ID  Branch_A  Branch_B  Branch_C
0            1         8         7         9
1            2         7         8         6
2            3         9         6         8
3            4         6         9         7
4            5         7         7         9

In [5]:
data.describe()

       Customer_ID   Branch_A   Branch_B   Branch_C
count     20.00000  20.000000  20.000000  20.000000
mean      10.50000   7.500000   7.550000   7.500000
std        5.91608   1.147079   1.099043   1.147079
min        1.00000   6.000000   6.000000   6.000000
25%        5.75000   6.750000   7.000000   6.750000
50%       10.50000   7.500000   7.500000   7.500000
75%       15.25000   8.250000   8.250000   8.250000
max       20.00000   9.000000   9.000000   9.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  20 non-null     int64
 1   Branch_A     20 non-null     int64
 2   Branch_B     20 non-null     int64
 3   Branch_C     20 non-null     int64
dtypes: int64(4)
memory usage: 772.0 bytes

In [7]:
data.isnull().sum()

Customer_ID    0
Branch_A       0
Branch_B       0
Branch_C       0
dtype: int64

In [13]:
data = data[['Branch_A', 'Branch_B', 'Branch_C']]
data.head()

   Branch_A  Branch_B  Branch_C
0         8         7         9
1         7         8         6
2         9         6         8
3         6         9         7
4         7         7         9

In [ ]:
sum_all_data = data.sum()
sum_all_data

Branch_A    150
Branch_B    151
Branch_C    150
dtype: int64

In [16]:
mean_all = (150+151+150)/60
mean_all

7.516666666666667

In [12]:
branch_a_mean = data['Branch_A'].mean()
branch_b_mean = data['Branch_B'].mean()
branch_c_mean = data['Branch_C'].mean()

print (branch_a_mean)
print  (branch_b_mean)
print (branch_c_mean)

7.5
7.55
7.5

In [17]:
ssbtw = 20*((branch_a_mean - mean_all)**2 + (branch_b_mean - mean_all)**2 + (branch_c_mean - mean_all)**2)
ssbtw

np.float64(0.033333333333333104)

In [18]:
sswithin = ((data['Branch_A'] - branch_a_mean)**2).sum() + ((data['Branch_B'] - branch_b_mean)**2).sum() + ((data['Branch_C'] - branch_c_mean)**2).sum()
sswithin

np.float64(72.94999999999999)

In [20]:
msbtw = ssbtw/2 # 3-1 = 2
mswithin = sswithin/57  # 60-3 = 57

print(msbtw)
print(mswithin)

0.016666666666666552
1.2798245614035086

In [21]:
f= msbtw/mswithin
f

np.float64(0.013022618231665437)

In [23]:
data_long = data.melt(var_name='Branch', value_name='Satisfaction')
data_long.head()

     Branch  Satisfaction
0  Branch_A             8
1  Branch_A             7
2  Branch_A             9
3  Branch_A             6
4  Branch_A             7

In [24]:
differance_between_gp = anova(data=data_long, dv='Satisfaction', between='Branch')
differance_between_gp

   Source  ddof1  ddof2         F     p-unc       np2
0  Branch      2     57  0.013023  0.987065  0.000457

In [25]:
alpha = 0.05
if 0.987065 < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

In [29]:
dbg = pg.pairwise_tests(data=data_long, dv='Satisfaction', between='Branch', padjust='bonferroni')
dbg

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,Branch,Branch_A,Branch_B,False,True,-0.140756,38.0,two-sided,0.888806,1.0,bonferroni,0.311,-0.043627
1,Branch,Branch_A,Branch_C,False,True,0.000000,38.0,two-sided,1.000000,1.0,bonferroni,0.309,0.000000
2,Branch,Branch_B,Branch_C,False,True,0.140756,38.0,two-sided,0.888806,1.0,bonferroni,0.311,0.043627

there is no significant differences between the 3 Branches