In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pingouin import pairwise_ttests
from pingouin import anova
import pingouin as pg
from scipy.stats import levene ,  shapiro  , kruskal

In [4]:
data = pd.read_csv(r"C:\Users\DELL2025\Downloads\Compressed\Customer Satisfaction.csv")
data.head()

   Customer_ID  Branch_A  Branch_B  Branch_C
0            1         8         7         9
1            2         7         8         6
2            3         9         6         8
3            4         6         9         7
4            5         7         7         9

In [5]:
data.describe()

       Customer_ID   Branch_A   Branch_B   Branch_C
count     20.00000  20.000000  20.000000  20.000000
mean      10.50000   7.500000   7.550000   7.500000
std        5.91608   1.147079   1.099043   1.147079
min        1.00000   6.000000   6.000000   6.000000
25%        5.75000   6.750000   7.000000   6.750000
50%       10.50000   7.500000   7.500000   7.500000
75%       15.25000   8.250000   8.250000   8.250000
max       20.00000   9.000000   9.000000   9.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  20 non-null     int64
 1   Branch_A     20 non-null     int64
 2   Branch_B     20 non-null     int64
 3   Branch_C     20 non-null     int64
dtypes: int64(4)
memory usage: 772.0 bytes

In [7]:
data.isnull().sum()

Customer_ID    0
Branch_A       0
Branch_B       0
Branch_C       0
dtype: int64

In [8]:
data = data[['Branch_A', 'Branch_B', 'Branch_C']]
data.head()

   Branch_A  Branch_B  Branch_C
0         8         7         9
1         7         8         6
2         9         6         8
3         6         9         7
4         7         7         9

In [9]:
sum_all_data = data.sum()
sum_all_data

Branch_A    150
Branch_B    151
Branch_C    150
dtype: int64

In [26]:
for branch in ['Branch_A', 'Branch_B', 'Branch_C']:  
    stat, p = shapiro(data[branch])  
    print(f"{branch}: p = {p:.4f}")  

alpha = 0.05
if p > alpha:
    print("Fail to reject the null hypothesis , normal distribution")
else:
    print("Reject the null hypothesis , not normal distribution")

Branch_A: p = 0.0090
Branch_B: p = 0.0135
Branch_C: p = 0.0090
Reject the null hypothesis , not normal distribution

In [23]:
lev = levene(data['Branch_A'],data['Branch_B'],data['Branch_C'])
print(lev)

alpha = 0.05
if lev[1] < alpha:
    print("Reject the null hypothesis , variance is not same")
else:
    print("Fail to reject the null hypothesis , variance is same")

LeveneResult(statistic=np.float64(0.06354515050167237), pvalue=np.float64(0.938498131626755))
Fail to reject the null hypothesis , variance is same

In [34]:
kruskal(data['Branch_A'],data['Branch_B'],data['Branch_C'])
print(kruskal(data['Branch_A'],data['Branch_B'],data['Branch_C'])[1])

if kruskal(data['Branch_A'],data['Branch_B'],data['Branch_C'])[1] < alpha:
    print("Reject the null hypothesis ")
else:
    print("Fail to reject the null hypothesis ")

0.9869687112990837
Fail to reject the null hypothesis